///////////////////////////////////////
// Invoice Bar ////////////////////////
///////////////////////////////////////
.invoice-holder > .invoice-bar {
  height: 2rem;
  background-color: darken($headerNavLiBgColor, 5);
  &.invoice-bar-left {
    padding: $invoicePadding 0 0 $invoicePadding;
  }
  &.invoice-bar-middle {
    @include defaultBorder('right');
    @include defaultBorder('left');
    &.grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      > div {
        text-align: center;
        padding: $invoicePadding 0 0 $invoicePadding;
      }
    }
  }
  &.invoice-bar-right {
    padding: $invoicePadding 0 0 $invoicePadding;
  }
}

///////////////////////////////////////
// Invoice Div ////////////////////////
///////////////////////////////////////
.invoice-holder > .invoice-div {
  &.invoice-div-left {
    @include defaultBorder('left');
  }
  &.invoice-div-middle {
    @include defaultBorder('right');
    @include defaultBorder('left');

    .customer-info {
      width: 100%;
      // height: 160.5px;
      height: 10.03125rem;

      padding: $invoicePadding 0.5rem;
      @include defaultBorder('bottom');
      &.height-auto {
        height: auto;
      }
    }
  }
  &.invoice-div-right {
    @include defaultBorder('right');
    .invoice-right-listing-table {
      width: 100%;
      margin: 0;
      padding: 0;

      tr {
        @include listSizing();
        td {
          margin: 0;
          padding: 0;
          &:first-child {
            text-indent: 0.5rem;
            width: 45%;
          }
          &.total-label {
            text-align: right;
          }

          &.total-amount {
            text-align: center;
          }
          &.list-type {
            text-align: center;
          }
          &.list-status {
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mediaBreakPointMedium) {
  .invoice-holder {
    grid-template-columns: 1fr 1fr;
  }

  ///////////////////////////////////////
  // Invoice Bar ////////////////////////
  ///////////////////////////////////////
  .invoice-holder > .invoice-bar {
    &.invoice-bar-left {
      display: none;
    }

    &.invoice-bar-middle {
    }

    &.invoice-bar-right {
    }
  }

  ///////////////////////////////////////
  // Invoice Div ////////////////////////
  ///////////////////////////////////////
  .invoice-holder > .invoice-div {
    &.invoice-div-left {
      display: none;
    }
    &.invoice-div-middle {
    }
    &.invoice-div-right {
    }
  }
}

@media only screen and (max-width: $mediaBreakPointSmall) {
  .invoice-holder {
    grid-template-columns: 1fr;
  }

  ///////////////////////////////////////
  // Invoice Bar ////////////////////////
  ///////////////////////////////////////
  .invoice-holder > .invoice-bar {
    &.invoice-bar-left {
      display: none;
    }

    &.invoice-bar-middle {
    }

    &.invoice-bar-right {
      display: none;
    }
  }

  ///////////////////////////////////////
  // Invoice Div ////////////////////////
  ///////////////////////////////////////
  .invoice-holder > .invoice-div {
    &.invoice-div-left {
      display: none;
    }
    &.invoice-div-middle {
    }
    &.invoice-div-right {
      @include defaultBorder('left');
    }
  }
}
