@mixin sidebarLi() {
  width: 100%;
  min-height: 2.5rem;
  font-size: 0.9rem;
  line-height: 2.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0.0625rem solid darken($menuBackgroundColor, 5%);
  transition: background-color 0.15s;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background: $secondaryColor;
    .fa {
      color: lighten($primaryColor, 10%);
    }
  }
  a {
    width: 100%;
    display: block;
    color: lighten($primaryFontColor, 14%);
    text-decoration: none !important;
  }
}

@mixin sidebarLiActive() {
  @if $colorMode == light {
    font-weight: 600;
    background: $secondaryColor;
    border-left: 0.125rem solid $primaryColor;
    > i.react-icon {
      color: $primaryColor;
      padding-left: calc(1.15rem - 0.125rem);
    }
  } @else {
    color: $primaryColorAccent;
    background-color: $primaryColor;
    > i.react-icon {
      color: $primaryColorAccent;
      padding-left: 1.15rem;
    }
    &:hover {
      background-color: darken($primaryColor, 10%);
    }
  }
}

.sidebar-left {
  z-index: 1000;
  position: fixed;
  top: 3.75rem;
  left: 0px;
  width: $leftMenuWidth;
  height: calc(100% - #{$topNavHeight});
  background-color: $menuBackgroundColor;
  border-right: 0.0625rem solid $primaryBorderColor;
  transition: left $menuAnimationSpeed;
  transition-timing-function: ease-out;
}

.wrapper.toggle-left-menu-hide .sidebar-left {
  left: calc(0% - #{$leftMenuWidth});
}

.sidebar-left > ul.sidebar-left-list {
  list-style: none;
  width: 100%;
  border-bottom: 0.0625rem solid $primaryColor;
}

ul.sidebar-left-list > li {
  @include sidebarLi();
  > a {
    &.active {
      @include sidebarLiActive();
    }
    > i.react-icon {
      color: $primaryColor;
      padding: 0 1.25rem 0 1.15rem;
      width: 3.5rem;
      svg {
        margin-top: -0.25rem;
      }
    }
  }
  > a.parent:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.25rem 0.375rem 0.25rem 0;
    border-color: transparent $primaryColor transparent transparent;
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    transition: transform 0.5s;
  }
  > ul {
    display: none;
    background-color: darken($menuBackgroundColor, 2%);
    list-style: none;
    > li {
      @include sidebarLi();
      padding-left: 2rem;
    }
  }
  &.open > ul {
    display: block;
  }
  &.open > a.parent:after {
    transform: rotate(-90deg);
  }
}
