html {
  font-size: 16px;
  font-family: Roboto;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  position: relative;
  color: $primaryFontColor;
  background: $primaryBackgroundColor;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.main-content-container {
  box-sizing: border-box;
  padding: $topNavHeight 0 0 $leftMenuWidth;
  transition: padding $menuAnimationSpeed;
  transition-timing-function: ease-out;
}

.main-content-container .page-header {
  height: 5rem;
  background-color: $secondaryColor;
  border-bottom: 0.0625 solid $primaryBorderColor;
  padding: 0.625rem 1.25rem;
  word-wrap: none;
  white-space: nowrap;
  > ul.bread-crumb {
    list-style: none;
    margin-bottom: 0;
    > li {
      font-size: 0.75rem;
      display: inline;
      &:before {
        content: '/\00a0';
        padding: 0 0.3125rem;
        color: $primaryColor;
      }
      &:first-child:before {
        display: none;
      }
      i.react-icon {
        padding-right: 0.2rem;
        color: $primaryColor;
        svg {
          margin-top: -0.3rem;
        }
      }
    }
  }

  .page-header-info {
    display: flex;
    margin-top: 0.3125rem;
    h3.content-title {
      flex: 1;
      color: $primaryColor;
      font-family: RaleWay;
      font-size: 1.5rem;
      font-weight: 300;
    }
    .page-header-button {
      flex: 1;
      text-align: right;
      font-size: 0.8rem;
      margin-top: -0.3125rem;
    }
  }
}

.main-content-card {
  margin: 0.625rem;
  padding: 0.625rem;
}

//LISTING TABLES
.listingTable {
  margin-bottom: 0;
  tr td {
    font-size: 0.875rem;
  }
}

.listingTable-filter-holder {
  margin: 0.625rem;
  margin-bottom: 0;
}

.listingTable-paginate-holder {
  margin: 0.625rem;
  margin-bottom: 0;
}

.listingTable-tr {
  background-color: #f7f7f7 !important;
  .listingTable-options {
    height: 1.25rem;
    margin-top: 0.25rem;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:nth-child(even) {
    background-color: #ffffff !important;
  }

  &:hover {
    background-color: #f1f1f1 !important;
    .listingTable-options {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 3800px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (max-width: $mediaBreakPointMedium) {
  .main-content-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: $mediaBreakPointSmall) {
}

//ANIMATE
.wrapper.toggle-left-menu-hide .main-content-container {
  padding-left: 0px;
}

.wrapper.toggle-right-menu-hide .main-content-container {
  padding-right: 0px;
}

.login-form-holder {
  margin: 5rem auto 0 auto;
  max-width: 20rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: $secondaryColor;
  border: 1px solid rgba(invert($secondaryColor), 0.125);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
