@mixin headerLi($borderDirection) {
  display: inline-block;
  height: 3.6875rem;
  float: left;
  font-size: 0.85rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 0.75rem 1rem 0 1rem;
  border-#{$borderDirection}: 0.0625rem solid $headerNavLiBgColor;
  cursor: pointer;
  a {
    color: darken($primaryFontColor, 10%);
    text-decoration: none;
  }
  &:hover {
    background-color: $secondaryColor;
    a {
      color: lighten($primaryFontColor, 10%);
    }
  }
}

///////////////////////////////////////
// Header Nav Bar /////////////////////
///////////////////////////////////////
section.template-nav-bar {
  height: $topNavHeight;
  width: 100%;
  // min-width: 1000px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 40.5rem auto;
  background-color: $headerNavBgColor;
  border-bottom: 0.0625rem solid $primaryBorderColor;
  white-space: nowrap;
  z-index: 1000;

  svg {
    margin-top: -0.25rem;
  }

  > ul.template-left-nav {
    grid-column: 1/2;
    list-style: none;
    overflow: hidden;
    > li {
      @include headerLi(right);
      &:hover i.react-icon,
      &:hover > a > i.react-icon {
        color: lighten($primaryColor, 10%);
      }
    }
    li.left-toggle {
      width: 3.125rem;
      font-size: 1.2rem;
      color: $primaryFontColor;
    }
    li.branding {
      width: 11.25rem;
      font-size: 1.2rem;
      cursor: auto;
    }
    li.loader {
      cursor: auto;
    }
    li > i.react-icon,
    li > a {
      display: block;
      color: lighten($primaryColor, 0%);
      padding-bottom: 0.2rem;
    }
    > i.react-icon {
      padding-right: 0.2rem;
    }
    span {
      padding-left: 0.25rem;
    }
  }
  .template-right-nav {
    ul {
      grid-column: 2/3;
      list-style: none;
      float: right;
      text-align: right;
      li {
        @include headerLi(left);
        position: relative;
        min-width: 3.75rem;
        > i.react-icon {
          font-size: 1.25rem;
          color: darken($primaryFontColor, 30%);
        }
        &:last-child i.react-icon {
          color: $primaryColor;
        }
        .tool-tip {
          display: none;
          width: 7.5rem;
          text-overflow: ellipsis;
          position: absolute;
          top: 3.125rem;
          left: -2rem;
          border-radius: 0.3rem;
          color: $fontColorToolTip;
          background-color: $bgColorToolTip;
          font-size: 0.8rem;
          line-height: 1rem;
          padding: 0.22rem;
          z-index: 1005;
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.5rem 0.5rem 0.5rem;
            border-color: transparent transparent $bgColorToolTip transparent;
            position: absolute;
            left: 3.4rem;
            top: -0.5rem;
          }
        }
        &:hover .fa {
          color: $primaryFontColor;
        }
        .notification-number {
          background-color: $primaryColor;
          color: $primaryColorAccent;
          font-size: 0.75rem;
          line-height: 1.4rem;
          border-radius: 50%;
          position: absolute;
          top: 0.5rem;
          left: 0.375rem;
          height: 1.3rem;
          width: 1.3rem;
        }
        &:hover {
          .tool-tip {
            display: block;
          }
        }
      }
    }
  }
}

li.staff-options {
  width: 13.75rem;
  position: relative;
  > ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 3.6875rem;
    list-style: none;
    width: 17.5rem;
    background: $secondaryColor;
    border-top: 0.0625rem solid $headerNavLiBgColor;
    border-bottom: 0.0625rem solid $primaryColor;
    > li {
      border-bottom: 0.0625rem solid $headerNavLiBgColor;
      width: 100%;
      height: auto !important;
      padding: 0.3125rem !important;
      text-align: left !important;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: $headerNavBgColor !important;
      }

      > i.react-icon,
      > a > i.react-icon {
        color: $primaryColor !important;
        font-size: 0.875rem !important;
        margin: 0 0.5rem;
      }
    }
  }
  &:hover {
    ul {
      display: block;
    }
  }
}

@media only screen and (max-width: 1200px) {
  section.template-right-nav > ul {
    > li:not(.display-m) {
      display: none;
    }
  }
}

@media only screen and (max-width: $mediaBreakPointMedium) {
  section.template-nav-bar {
    display: flex;
    ul.left-nav {
      > li:not(.display-m) {
        display: none;
      }
    }
    section.template-right-nav {
      flex: 1;
      width: 3.75rem !important;
    }
  }
}

@media only screen and (max-width: ($rightSectionWidth + $leftMenuWidth + 50)) {
  section.template-right-nav > ul > li.staff-options {
    display: none !important;
  }
}

///////////////////////////////////////
// Header Nav Bar /////////////////////
///////////////////////////////////////
